---
import InstagramIcon from '../assets/icons/instagram.svg'
---

<div class="footer">
    <div class="left">
        <div class="flex items-center mb-4">
            <h2 class="text-3xl text-black font-bold">nearwork.space</h2> 
            <div class="border-l-2 border-black px-4 ml-4">
                <a href="https://www.instagram.com/nearwork.space/" >
                    <img src={InstagramIcon.src} alt="Instagram Icon" />
                </a>
            </div>
        </div>
        <button class="rounded-2xl py-3 px-8 bg-[#1E1E1E] text-white font-semibold text-xl">
            Sign up!
        </button>
    </div>
    <div class="right">
        <ul>
            <li>
                <a href="/roadmap" >
                    Roadmap
                </a>
            </li>
            <li>
                <a href="/blogs" >
                    Blogs
                </a>
            </li>
            <li>
                <a href="/press" >
                    Press
                </a>
            </li>
    
        </ul>
        <ul>
            <li>
                <a href="/about" >
                    About us
                </a>
            </li>
            <li>
                <a href="/contact" >
                    Contact
                </a>
            </li>
            <li>
                <a href="/privacy-policy" >
                    Privacy Policy
                </a>
            </li>
        </ul>
    </div>
</div>

<style>
    .footer {
        background: linear-gradient(90deg, #AC0CF7 0%, #FF4058 102.14%);
        height: 240px;
        border: 4px solid black;
        border-radius: 32px 32px 0px 0px;
        min-width: 100%;
        display:flex;
        padding: 0px 64px;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
    }
    .right {
        margin-left: auto;
        display: flex;
        align-items:center;
    }
    .right ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 48px;
    }
    .right li {
        margin-bottom: 16px;
        color: white;
        font-weight: 600;
    }
</style>