.section {
  height: calc(100vh - 64px - 64px - 4px);
  border: 2px solid red;
  padding: 32px 48px;
}

/*
   Subheader styles for the yellow line under the subheader 
*/
.subheader > b {
  position: relative;
  margin: 0px;
  white-space: nowrap;
}
.subheader > b::after {
  content: "";
  position: absolute;
  left: -4px;
  bottom: -2px;
  width: calc(100% + 8px);
  height: 0.935rem;
  background-color: rgba(239, 209, 168, 0.33);
  border-radius: 100px;
  z-index: -1;
}
